{% extends "::template.html.twig" %}

{% block title %}企业列表{% endblock %}

{% block body %}

	<table class="table table-bordered table-condensed">
		<tr>
			<td>ID</td>
			<td>公司名</td>
			<td>销售机会</td>
			<td>最后更新</td>
		</tr>
		{% for corporation in list if corporation.name %}
		<tr>
			<td>{{corporation.id}}</td>
			<td>{{corporation.name}}</td>
			<td></td>
			<td>{% if corporation.timeupdated %}{{corporation.timeupdated | date('Y-m-d h:i')}}{% endif %}</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}
