{% extends "::template.html.twig" %}

{% block body %}
<div class="container"><div class="row">

<div class="col-md-6">

<form class="form-inline" role="form" action="{{ path('search_result_return') }}" method="POST">
	<div class="form-group">
		<select class="form-control" name="type">
			<option value="username">用户名</option>
			<option value="email">Email</option>
			<option value="realname">真实姓名</option>
			<option value="company">公司</option>
			<option value="job">工作</option>
			<option value="city">城市</option>
			<option value="reg_first">注册日期(早于)</option>
			<option value="reg_last">注册日期(晚于)</option>
			<option value="reg_date">注册日期(指定日期)</option>
			<option value="login_first">最后登陆(早于)</option>
			<option value="login_last">最后登陆(晚于)</option>	
			<option value="login_date">最后登陆(指定)</option>			
			<option value="communication">沟通记录搜索</option>
		</select>
	</div>

	<div class="form-group">
		<input class="form-control" name="text" type="text" placeholder="搜索内容" />
	</div>

	<div class="form-group">
		<button class="btn btn-primary" name="search" value="1">搜索</button>
	</div>

</form>
</div>

</div></div>


{% endblock %}